<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>SearchGraph</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAcqAJDM5PdUhFxWaNkliwVxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxR4-AMBcrRfzHqAFaAvVoKdKGJmiw"></script>
	<%= javascript_include_tag "jquery.tablesorter" %>
	<%= javascript_include_tag "jquery.progressbar" %>
	<%= javascript_include_tag "jquery.color" %>
	<%= javascript_include_tag "jquery.URLEncode" %>
	<%= javascript_include_tag "searchgraph" %>
	<%= stylesheet_link_tag "tablesorter" %>
	<%= stylesheet_link_tag "index" %>
	<script type="text/javascript">
	var base_graph_url = "<%= url_for(:controller => 'graphs', :action => 'index', :only_path => false) %>";
	</script>
</head>
<body>
<div id="preload" style="display:none">
	<%= image_tag "progressbar.gif" %>
	<%= image_tag "progressbg_red.gif" %>
	<%= image_tag "progressbg_orange.gif" %>
	<%= image_tag "progressbg_yellow.gif" %>
</div>
<div id="container">
	<div id="content">
		<div id="header">
			SearchGraph
		</div>
		<div id="request">
			<form id="searchRequest">
				<%= label_tag 'query', 'Query Template' %>
				<%= text_field_tag 'query', @graph.query_template, :size => 70 %>
				<br/>
				Range: 
					<%= text_field_tag 'lower', @graph.lower_bound %>
					 to 
					<%= text_field_tag 'upper', @graph.upper_bound %>
					 step 
					<%= text_field_tag 'step', @graph.step %>
				<br/>
				<!-- <input type="checkbox" id="use_api">Use API? <br/> -->
				<%= label_tag 'engine', 'Bing' %>
				<%= radio_button_tag 'engine', 'bing', @graph.engine == 'bing', :id => "engine_bing" %>
				|
				<%= label_tag 'engine', 'Google' %>
				<%= radio_button_tag 'engine', 'google', @graph.engine == 'google', :id => "engine_google" %>
				|
				<%= label_tag 'engine', 'Yahoo' %>
				<%= radio_button_tag 'engine', 'yahoo', @graph.engine == 'yahoo', :id => "engine_yahoo" %>
				<br/>
				<input type="submit" id="start" value="Start">
			</form>
		</div>
		<div id="progress">
			<div id="progressBar"></div>
		</div>
		<div id="response">
			<div id="chart">
				<%= image_tag @graph.chart_uri, :id => "chartImg" %>
			</div>
			<div id="dataDisplay">
				<table id="dataTable" class="tablesorter">
					<thead>
						<tr>
							<th>x</th><th># Results</th>
						</tr>
					</thead>
					<tbody>
						<tr style="display:none">
							<td>1.0</td><td>1.0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="share">
<% @share_url = url_for(:controller => 'graphs', :action => 'show', :id => @graph.id, :only_path => false) %>
			Share: <%= text_field_tag 'share_link', @share_url, :size => 40 %>
			<%= link_to image_tag("facebook.png"), "http://www.facebook.com/sharer.php?u=" + @share_url + "&t=SearchGraph - " + @graph.query_template, :id => "facebook_share"%>
			<%= link_to image_tag("twitter.png"), "http://www.twitter.com/home?status=SearchGraph - " + @graph.query_template + " "+@share_url, :id => "twitter_share" %>
			<%= link_to image_tag("stumble.png"), "http://www.stumbleupon.com/submit?url=" + @share_url + "&title=SearchGraph - " + @graph.query_template, :id => "stumbleupon_share" %>
		</div>
	</div>
</div>
<input type="hidden" id="auth_token" value="<%= form_authenticity_token %>" />
</body>
</html>

